# editorconfig.org

# top-most EditorConfig file
root = false

# C# files
[*.cs]
# File header
file_header_template = <copyright file="{fileName}" company="Afonso Dutra Nogueira Filho">\nCopyright (c) Afonso Dutra Nogueira Filho. All rights reserved.\nLicensed under the GPLv3 license. See LICENSE file in the project root for full license information.\nhttps://github.com/afonsoft/metar-decoder\n</copyright>
dotnet_diagnostic.IDE0073.severity = warning